<!DOCTYPE html>

<html>

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="/css/styles.css">
  <title>Chat App</title>
</head>

<body class="chat">

  <div class="chat__sidebar">
    <h3>People</h3>
    <div id="users"></div>
  </div>

  <div class="chat__main">
    <ol id="messages" class="chat__messages"></ol>

    <div class="chat__footer">
      <form id="compose">
        <input name="message" type="text" placeholder="Message" autofocus autocomplete="off"/>
        <button>Send</button>
      </form>
      <button id="locationBtn">Send location</button>
    </div>
  </div>

  <script id="msg-template" type="text/template">
    <li class="message">
      <div class="message__title">
        <h4>{{from}}</h4>
        <span>{{createdAt}}</span>
      </div>
      <div class="message__body"></div>
      <div>
          <p>{{text}}</p>
      </div>
    </li>
  </script>

  <script id="location-template" type="text/template">
    <li class="message">
      <div class="message__title">
        <h4>{{from}}</h4>
      </div>
      <div class="message__body"></div>
      <div>
          <a href="{{url}}">My current location</a>
      </div>
    </li>
  </script>

  <script src="/socket.io/socket.io.js"></script>
  <script src="/js/libs/jquery-3.1.0.min.js"></script>
  <script src="/js/index.js"></script>
  <script src="/js/libs/mustache.min.js"></script>
</body>

</html>